In [1]:
import pandas as pd
import numpy as np

In [2]:
students_performance = pd.read_csv('StudentsPerformance.csv')

In [3]:
students_performance.describe()
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [4]:
st = students_performance.iloc[0:5, 0:3]

In [5]:
students_performance.loc[[1, 3, 15], ['gender']]

    gender
1   female
3     male
15  female

In [6]:
students_performance.loc[:6]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [7]:
titanic = pd.read_csv('titanic.csv')
print(titanic.shape)
print(titanic.get_dtype_counts())

(891, 12)
float64    2
int64      5
object     5
dtype: int64

C:\Users\kafree\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
mean = students_performance['writing score'].mean()
students_performance.loc[students_performance['writing score'] > mean, ['writing score']]

     writing score
0               74
1               88
2               93
4               75
5               78
..             ...
992             76
993             74
995             95
998             77
999             86

[512 rows x 1 columns]

In [9]:
free_lunch = students_performance['lunch'] == 'free/reduced'
standard_lunch = students_performance['lunch'] == 'standard'

In [10]:
students_performance.groupby(['gender', 'race/ethnicity'], as_index=False).aggregate({'math score' : 'mean'})

   gender race/ethnicity  math score
0  female        group A   58.527778
1  female        group B   61.403846
2  female        group C   62.033333
3  female        group D   65.248062
4  female        group E   70.811594
5    male        group A   63.735849
6    male        group B   65.930233
7    male        group C   67.611511
8    male        group D   69.413534
9    male        group E   76.746479

In [11]:
students_performance[['gender', 'math score']].sort_values(['gender', 'math score'], ascending=False).groupby('gender').head()

     gender  math score
149    male         100
623    male         100
625    male         100
916    male         100
306    male          99
451  female         100
458  female         100
962  female         100
114  female          99
263  female          99

In [12]:
students_performance = students_performance.assign(total = np.log(students_performance['math score']))
students_performance['total']

C:\Users\kafree\Anaconda3\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0      4.276666
1      4.234107
2      4.499810
3      3.850148
4      4.330733
         ...
995    4.477337
996    4.127134
997    4.077537
998    4.219508
999    4.343805
Name: total, Length: 1000, dtype: float64

In [13]:
dota = pd.read_csv('dota_hero_stats.csv')
dota.groupby('legs').count()

      Unnamed: 0  attack_type  id  localized_name  name  primary_attr  roles
legs
0             11           11  11              11    11            11     11
2             95           95  95              95    95            95     95
4              7            7   7               7     7             7      7
6              3            3   3               3     3             3      3
8              1            1   1               1     1             1      1

In [14]:
pa = pd.read_csv('accountancy.csv')
pa.groupby(['Executor','Type']).mean()

               Unnamed: 0      Salary
Executor Type
Loopa    A      46.000000   58.000000
         B      24.000000  145.166667
         C      31.666667  154.333333
         D      31.857143  137.714286
         E      23.500000  164.000000
         F      20.000000  238.000000
Pupa     A      16.000000  160.833333
         B      41.000000   77.000000
         C      23.000000   74.500000
         D      14.000000  146.500000
         E      19.800000  131.200000
         F      25.750000  136.250000

In [15]:
dota.groupby(['attack_type', 'primary_attr']).count()

                          Unnamed: 0  id  legs  localized_name  name  roles
attack_type primary_attr
Melee       agi                   19  19    19              19    19     19
            int                    2   2     2               2     2      2
            str                   35  35    35              35    35     35
Ranged      agi                   18  18    18              18    18     18
            int                   40  40    40              40    40     40
            str                    3   3     3               3     3      3

In [16]:
concentrations = pd.read_csv('algae.csv')
concentrations[['genus','alanin']].groupby(['genus']).max()

               alanin
genus
Ascophyllum  0.875429
Cladophora   6.881024
Fucus        6.641303
Palmaria     3.176440
Saccharina   5.793163

In [17]:
concentrations.groupby('group')

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [19]:
# students_performance.lunch.hist()

In [20]:
# students_performance.plot.scatter(x='math score', y='reading score')

In [21]:
# sns.lmplot(x='math score', y='reading score', hue='gender', data=students_performance)

In [22]:
# income = pd.read_csv('income.csv')
# sns.lineplot(x=income.index, y=income.income)

In [23]:
# dat = pd.read_csv('dataset_209770_6.txt', sep=' ')
# sns.scatterplot(x='x',y='y',data=dat)

In [24]:
# gen = pd.read_csv('genome_matrix.csv')
# g = sns.heatmap(gen.iloc[:,1:], cmap='viridis')
# g.xaxis.set_ticks_position('top')
# g.xaxis.set_tick_params(rotation=90)

In [25]:
# dota.roles.str.count(',').hist()

In [26]:
# iris = pd.read_csv('iris.csv')
# for column in iris.iloc[:, 1:]:
#     sns.kdeplot(iris[column])

In [27]:
# sns.violinplot(iris['petal length'])

In [28]:
# sns.pairplot(data=iris.iloc[:,1:-1])

In [29]:
d = {'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]}
my_data = pd.DataFrame(data=d)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [30]:
my_stat = pd.read_csv('my_stat.csv')
subset_1 = my_stat.iloc[0:10, [0, 2]]
subset_2 = my_stat[['V2', 'V4']].drop([0, 4])

In [31]:
subset_1 = my_stat[(my_stat['V1'] > 0) & (my_stat['V3'] == 'A')]
subset_2 = my_stat[(my_stat['V2'] != 10) | (my_stat['V4'] >= 1)]

In [32]:
import math
my_stat = my_stat.assign(V5 = lambda x: x.V1 + x.V4)
my_stat = my_stat.assign(V6 = lambda x: np.log(x.V2))

In [33]:
my_stat = my_stat.rename(columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'})

In [34]:
# my_stat = pd.read_csv('my_stat_1.csv')
# my_stat = my_stat.fillna(0)
# med = my_stat[my_stat['n_users'] > 0].n_users.median()
# my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = med

In [35]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value':'mean'})
mean_session_value_data = mean_session_value_data.rename(columns={'session_value': 'mean_session_value'})